{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row my-2">
  <div class="col-12 col-lg-8 my-3">
    <h1>Mapa del sitio</h1>
  </div>

  <div class="col-12 col-lg-8 my-2">
    <h2 class="my-2">Usuarios</h2>
    <a href="{% url 'usuarios:ver-usuarios' %}">Ver usuarios</a>
  </div>

  <div class="col-12 col-lg-8 my-2">
    <h2>Landing</h2>
    <a href="{% url 'landing:politica-privacidad' %}">Política de Privacidad</a><br>
    <a href="{% url 'landing:terminos-y-condiciones' %}">Términos y condiciones</a>
  </div>
</div>
{% endblock content %}